html {
    height: 900px;
  }
  
  body{
    .bodyMargin();
  
    @media @mobile{
      
    }
  
  }

.about-header {
    border-bottom: 3px dotted black;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-evenly;

    .button {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 400;
        font-size: 5rem;
        color: cadetblue;
        text-decoration: none;
    }

    h1{
        margin-bottom: 1%;
    }
}

main {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    


    .developers {
        border: 1px solid cadetblue;
        height: 60%;
        margin: 1%;
        margin-bottom: 3%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;

        h3 {
            width: 14%;
            margin-top: 3%;
            margin: 1%;
        }

        .pl {
            font-size: 1.5rem;
            width: 30%;
            margin-left: 12%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            ul {
                margin-bottom: 5%;
            }
            
            
            span {
                font-style: italic;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1%;
            }
        }

        .backend {
            font-size: 1.5rem;
            width: 30%;
            margin-left: 12%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            ul {
                margin-bottom: 5%;
            }

            span {
                font-style: italic;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1%;
            }

        }

        .frontend {
            font-size: 1.5rem;
            width: 30%;
            margin-left: 12%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            ul {
                margin-bottom: 8%;
            }
            
            
            span {
                font-style: italic;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1%;
            }
        }


        }
    }

    .marketing{
        border: 1px solid cadetblue;
        height: 60%;
        margin: 1%;
        margin-top: 2%;
        margin-bottom: 5%;
        border-radius: 10px;



        .Michael-D {
            font-size: 1.5rem;
            width: 30%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            ul {
                margin-bottom: 5%;
            }
            
            
            span {
                font-style: italic;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1%;
                margin-top: 2%;
            }
        }

        .Michael {
            font-size: 1.5rem;
            width: 30%;
            margin-left: 5%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            ul {
                margin-bottom: 2%;


            }
            
            
            span {
                font-style: italic;
                font-size: 1.7rem;
                font-weight: 600;
                margin-bottom: 1%;
            }
        }

            .Austin {
                font-size: 1.5rem;
                width: 30%;
                margin-left: 5%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
    
                ul {
                    margin-bottom: 5%;
                }
                
                
                span {
                    font-style: italic;
                    font-size: 1.7rem;
                    font-weight: 600;
                    margin-bottom: 1%;
                }
  
            }
    }

